$white: #FFFFFF;

$primary1: #434A59;
$bg1: #3A4663;
$bg-toggle1: #242D44;
$bg-input1: #181F33;
$bg-btns1: #242D44;
$btn1: #EAE3DC;
$btn-shadow1: #B3A497;
$btn-accent1: #647198;
$btn-accent-shadow1: #414E73;
$btn-submit1: #D03F2F;
$btn-submit-shadow1: #93261A;

$primary2: #36362C;
$bg2: #E6E6E6;
$bg-toggle2: #D2CDCD;
$bg-input2: #EEEEEE;
$bg-btns2: #D2CDCD;
$btn2: #E5E4E1;
$btn-shadow2: #A79E91;
$btn-accent2: #378187;
$btn-accent-shadow2: #1B6066;
$btn-submit2: #C85402;
$btn-submit-shadow2: #873901;

$primary3: #FFE53D;
$bg3: #17062A;
$bg-toggle3: #1E0936;
$bg-input3: #1E0936;
$bg-btns3: #1E0936;
$btn3: #331C4D;
$btn-shadow3: #881C9E;
$btn-accent3: #56077C;
$btn-accent-shadow3: #BE15F4;
$btn-submit3: #00DED0;
$btn-submit-shadow3: #6CF9F1;


html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  // background: $bg1;
  font-family: "League Spartan", sans-serif;
}

.container {
  width: 540px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .logo {
    font-size: 32px;
    // color: $white;
  }
}

.calculator-display {
  margin-top: 32px;
  font-size: 56px;
  padding: 36px 32px;
  border-radius: 10px;
  border: none;
  // background: $bg-input1;
  text-align: right;
  // color: $white;
}

.calculator-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 24px;
  padding: 32px;
  border-radius: 10px;
  // background: $bg-btns1;
}

.btn {
  padding: 13px;
  font-size: 40px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  // border-bottom: solid 4px $btn-shadow1;
  // color: $primary1;
  &.btn-del,
  &.btn-reset,
  &.btn-equal {
    font-size: 28px;
    // color: $white;
    text-transform: uppercase;
  }
  &.btn-del {
    // background: $btn-accent1;
    // border-bottom: solid 4px $btn-accent-shadow1;
  }
  &.btn-reset {
    grid-column: span 2;
    // background: $btn-accent1;
    // border-bottom: solid 4px $btn-accent-shadow1;

  }
  &.btn-equal {
    grid-column: span 2;
    // background: $btn-submit1;
    // border-bottom: solid 4px $btn-submit-shadow1;
  }
}

.toggle-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.toggle-label {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 5px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  // color: $white;
}

.toggle-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  // color: $white;
}

.toggle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  box-sizing: border-box;
  width: 72px;
  height: 26px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 13px;
  // background: $bg-toggle1;
}

.toggle input {
  opacity: 0;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.slider {
  position: absolute;
  top: 50%;
  left: calc(0% + 8px + 5px);
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  // background: $btn-submit1;
  border-radius: 50%;
  cursor: pointer;
}

input[value="1"]:checked ~ .slider {
  left: calc(0% + 8px + 5px);
}
input[value="2"]:checked ~ .slider {
  left: 50%;
}
input[value="3"]:checked ~ .slider {
  left: calc(100% - 8px - 5px);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  // color: $white;
  a {
    // color: $white;
  }
}

body.theme1 {
  background: $bg1;
  
  header {
    .logo {
      color: $white;
    }
  }
  
  .calculator-display {
    background: $bg-input1;
    color: $white;
  }
  
  .calculator-btns {
    background: $bg-btns1;
  }
  
  .btn {
    border-bottom: solid 4px $btn-shadow1;
    color: $primary1;
    background-color: $btn1;
    &.btn-del,
    &.btn-reset,
    &.btn-equal {
      color: $white;
    }
    &.btn-del {
      background: $btn-accent1;
      border-bottom: solid 4px $btn-accent-shadow1;
    }
    &.btn-reset {
      background: $btn-accent1;
      border-bottom: solid 4px $btn-accent-shadow1;
  
    }
    &.btn-equal {
      background: $btn-submit1;
      border-bottom: solid 4px $btn-submit-shadow1;
    }
  }
  
  .toggle-label {
    color: $white;
  }
  
  .toggle-title {
    color: $white;
  }
  
  .toggle {
    background: $bg-toggle1;
  }
  
  .slider {
    background: $btn-submit1;
  }

  footer {
    color: $white;
    a {
      color: $white;
    }
  }
}

body.theme2 {
  background:$bg2;

  header {
    .logo {
      color: $primary2;
    }
  }
  
  .calculator-display {
    background: $bg-input2;
    color: $primary2;
  }
  
  .calculator-btns {
    background: $bg-btns2;
  }
  
  .btn {
    border-bottom: solid 4px $btn-shadow2;
    color: $primary2;
    background-color: $btn2;
    &.btn-del,
    &.btn-reset,
    &.btn-equal {
      color: $white;
    }
    &.btn-del {
      background: $btn-accent2;
      border-bottom: solid 4px $btn-accent-shadow2;
    }
    &.btn-reset {
      background: $btn-accent2;
      border-bottom: solid 4px $btn-accent-shadow2;
  
    }
    &.btn-equal {
      background: $btn-submit2;
      border-bottom: solid 4px $btn-submit-shadow2;
    }
  }
  
  .toggle-label {
    color: $primary2;
  }
  
  .toggle-title {
    color: $primary2;
  }
  
  .toggle {
    background: $bg-toggle2;
  }
  
  .slider {
    background: $btn-submit2;
  }

  footer {
    color: $primary2;
    a {
      color: $primary2;
    }
  }
}

body.theme3 {
  background:$bg3;
  
  header {
    .logo {
      color: $primary3;
    }
  }
  
  .calculator-display {
    background: $bg-input3;
    color: $primary3;
  }
  
  .calculator-btns {
    background: $bg-btns3;
  }
  
  .btn {
    border-bottom: solid 4px $btn-shadow3;
    color: $primary3;
    background-color: $btn3;
    &.btn-del,
    &.btn-reset,
    &.btn-equal {
      color: $white;
    }
    &.btn-del {
      background: $btn-accent3;
      border-bottom: solid 4px $btn-accent-shadow3;
    }
    &.btn-reset {
      background: $btn-accent3;
      border-bottom: solid 4px $btn-accent-shadow3;
  
    }
    &.btn-equal {
      background: $btn-submit3;
      border-bottom: solid 4px $btn-submit-shadow3;
    }
  }
  
  .toggle-label {
    color: $primary3;
  }
  
  .toggle-title {
    color: $primary3;
  }
  
  .toggle {
    background: $bg-toggle3;
  }
  
  .slider {
    background: $btn-submit3;
  }

  footer {
    color: $primary3;
    a {
      color: $primary3;
    }
  }
}

